.para {
    font-size: 10px;
  }

.skip-link {
    transform: translateY(-100%);
    position: absolute;
    left: 50%;
 }
 
.skip-link:focus-within {
    transform: translateY(0);
 }

 body {
   margin: 0px;
 }

 header {
   padding: 8px;
 }