.para {
    font-size: 10px;
  }

.skip-link {
    transform: translateY(-1000%);
    position: absolute;
    left: 50%;
 }
 
.skip-link:focus-within {
    transform: translateY(0);
 }

 body {
   margin: 0px;
 }

 .header {
   padding: 20px;
   background: #00008B; 
   display: flex;
   justify-content: space-between;
   width: 100%;
 }

 .sub-menu-1{
	 background: #00008B;
 }
 .site-navigation > ul{
   display: flex;
 }

 .main-menu {
	display: flex;
	margin: 0;
	padding: 0;
	list-style-type: none;
	position: relative;
	font-family: f1;
	font-weight: bold;
}

.main-menu a {
	color: white;
	text-decoration: none;
}

.main-menu > li {
	padding: 10px 16px;
	min-width: 120px;
	cursor: pointer;
}

.main-menu li:hover > .sub-menu-1 {
	display: block;
}

.sub-menu-1 {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: none;
	position: absolute;
	background: #cccccc;
	font-family: f1;
	font-weight: bold;
}

.sub-menu-1 li {
	padding: 10px 16px;
}

.site-logo img {
  max-width: 200px;
}

:root .dark {
  --color-a: #111;
}
:root .light {
  --color-a: #ccc;
}

.header li a {
	font-size: 18px;
}

@font-face {
	font-family: f1;
	src: url('fonts/Formula1-Regular.otf');
	font-weight: normal;
	font-display: swap;
  }
  
  @font-face {
	font-family: f1;
	src: url('fonts/Formula1-Bold.otf');
	font-weight: bold;
	font-display: swap;
  }

  .test-1 {
	  font-family: f1;
  }

  .test-2 {
	  font-family: f1;
	  font-weight: bold;
  }

  * {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
  }